* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden !important;
}



/* <section class="navigation"> */



.navigation {
    height: 89px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 55px;
    width: 55px;
    background: #D8D8D8;
    border-radius: 50%;
    display: inline-block;
    margin-left: 50px;
}

.pg {
    display: inline-block;
    vertical-align: top;
    margin: 0 40px;
    width: 154px;
    height: 31px;
    background-color: #D8D8D8;
}



/* <section class="banner"> */



.banner {
    height: 450px;
    background: #D8D8D8;
}

.banner-headline {
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-size: 60px;
    line-height: 76px;
    padding-top: 120px;
    padding-left: 130px;
}

h2 {
    font-size: 36px;
    line-height: 46px;
    padding-left: 130px;
}

h3 {
    font-size: 30px;
    line-height: 38px;
    margin-top: 30px;
}

p {
    font-size: 18px;
    line-height: 30px;
}

h4 {
    font-size: 35px;
    line-height: 47px;
    text-align: center;
    padding-top: 129px;
}

h5 {
    font-size: 30px;
    line-height: 38px;
    margin: 0;
}

h6 {
    font-size: 18px;
    line-height: 30px;
    display: block;
    margin-top: 10px;
}

.buttons {
    display: flex;
    margin-left: 130px;
    margin-top: 25px;
}

.button {
    display: block;
    height: 60px;
    width: 283px;
	text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 33px;
}

.buttons .button:nth-child(1) {
    background: white;
    color: black;
}

.black {
    background: black;
    color: white;
    margin-left: 25px;
}



/* <section class="afbanner"> */



.afbanner {
    margin-top: 80px;
    padding: 0 100px;
}

.afbanner .container {
    background: white;
    margin: 0 auto;
}

.blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bk {
    width: 26.38vw;
}

.rectangle {
    height: 244px;
    width: 100%;
    background: #D8D8D8;
    display: inline-block;
}

.rectangle:nth-child(2), .rectangle:nth-child(3) {
    margin-left: 40px;
}

.btnr {
    display: block;
    width: max-content;
    margin-top: 40px;
    color: #787878;
    margin-bottom: 40px;
}

.signup {
    height: 395px;
    background: #D8D8D8;
    width: 100vw;
}




.form {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.form__group {
    position: relative;
    display: flex;
    align-items: center;
    background: white;
    z-index: 1;
}

.form__input {
    padding: 15px 12px 12px 20px;
    width: 320px;
    border: 0;
    background: transparent;
    font-size: 26px;
}

.form__input:focus {
    outline: none;
}
.form__input:focus ~ label,
.form__input:valid ~ label {
    font-size: 12px;
    margin-top: -17px;
    color: rgb(67, 159, 235);
}
.form__input:focus ~ .bar:before {
    width: 320px;
}

.form label {
    position: absolute;
    top: 10px;
    font-size: 26px;
    line-height: 33px;
    color: #787878;
    margin-left: 20px;
    z-index: -1;
    transition: .3s ease all;
}

.form .button {
    margin-top: 0;
    height: 60px;
    background-color: black;
    color: white;
}



/* <section class="blockbottom"> */



.blockbottom {
    height: 50vh;
    width: 100vw;
    display: flex;
}

.blockbottom .container {
    background: none;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50vw;
}

.smconleft {
    width: 92%;
    margin: 0 auto;
    text-align: end;
}

.smconright {
    width: 92%;
    margin: 0 auto;
    text-align: start;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100%;
}

.rect {
    width: 92%;
    height: 72%;
    display: block;
    background: #D8D8D8;
}

.sectionbutton {
    margin-bottom: 80px;
}

.sectionbutton .button {
    margin: 0 auto;
}



/* section class="footer" */



.footer {
    height: 415px;
    background-color: #D8D8D8;
}

.footer .logo {
    height: 55px;
    width: 55px;
    display: block;
    background: white;    
    position: relative;
    top: 100px;
    margin: 0 auto;
}

.footer_navs {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 130px;
}

.footer .nav {
    height: 31px;
    width: 155px;
    background-color: white;
    margin: 0 20px;
}

.line {
    display: block;
    width: 70vw;
    height: 1px;
    background-color: white;
    margin: 0 auto;
    margin-top: 30px;
}

.social {
    display: flex;
    justify-content: center;
    height: max-content;
}

.social img {
    margin: 0 25px;
    margin-top: 50px;
}